/* styles.css */
*,
:after,
:before {
  box-sizing: border-box;
}
.img-fluid {
  max-width: 100%;
  height: 187px;
}
.footer {
  bottom: 0;
  width: 100%;
}
section {
  display: block;
}
.navbar-collapse {
  justify-content: center;
}

li.nav-item {
  margin-right: 30px;
}
.navil:hover {
  color: #76ba9a;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}

h1:hover {
  color: #ffc107;
  cursor: pointer;
}
.fawa {
  color: #198754;
}
.hero {
  background-color: #efefef;
}
body{
  background-color: #efefef;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}