/* styles.css */
.navbar{
    color: blue;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  
}
/* Add your custom styles for larger screens here */

@media (max-width: 767px) {
    /* Add styles for smaller screens (e.g., mobile devices) here */
  
    .navbar {
      font-size: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      max-width: 100%;
    }
  
    /* Adjust styles for product cards or other elements as needed */
    .card {
      max-width: 90%; /* Make the cards take the full width on small screens */
      margin: 0;
    }
  
    .card-img-top{
      width: 50%; /* Make the cards take the full width on small screens */
      height: 50%;
    }
    .image{
      width: 50%; /* Make the cards take the full width on small screens */
      height: 50%;
    }
    .container{
      min-block-size: 50%;
      min-width: 50%;
    }
    .form{
      max-width: 90%;
      margin: 0%;
    }
    .form-group{
      max-width: 70%;
      margin: 0%;
    }
    .col-sm-6{
      max-width: 100%;
      justify-content: center;

    }

  }
  